/* Sidebar */
#sidebar {
	position: fixed;
	list-style: none;
	width: 12em;
}
#sidebar #title, #sidebar #credits  {
	cursor: auto;
}
#sidebar #storySubtitle, #sidebar #storyMenu {
	display: block;
}
.menu {
	position: absolute;
	display: none;
	z-index: 5;
}
/* Passages container */
#passages {
	margin-left: 18.2em;
	position:relative;
}
/* Links */
.passage a {
	color: #4d6ad8;
}
a.internalLink, a.externalLink, a.back, a.return, [data-passage], .menu div {
	cursor: pointer;
}
a.brokenLink {
	background-color: red;
	color: #000;
}
.marked {
	background-color: #f66;
	color: #000;
}
.marked[title] {
	cursor: help;
}
.passage li[data-bullet] {
	list-style-type: none;
}
.passage li[data-bullet]:before {
	content: attr(data-bullet);
	position: relative;
	left: -1em;
}
#storeArea {
	display: none;
}
#noscript {
	margin-left: 18.2em;
	font-size: 1.2em;
	font-weight: bold;
}
/* HTML4 compatibility */
img {
	vertical-align:bottom;
}
@media screen and (max-width: 640px) {
	#sidebar {
		position: static;
		margin: 0 auto;
		padding: 0;
	}
	body #sidebar li  {
		text-align: center;
	}
	#passages {
		min-height: 100vh;
		margin-left: 0em;
	}
}
#loadingbar {
	position:fixed;
	top:0;
	left:0;
	border-top: solid #4d6ad8 6px;
	transition: width 0.5s;
}
