<html>
  <head>
    <!--
    {{ engine.name }} {{ engine.version }}
    Copyright (c) 2019 Edenbound Contributors

    MIT License Goes Here

    Uses portions of Twine.

    TiddlyWiki 1.2.39 by Jeremy Ruston, (jeremy [at] osmosoft [dot] com)

    Published under a BSD open source license

    Copyright (c) Osmosoft Limited 2005

    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright notice, this
    list of conditions and the following disclaimer.

    Redistributions in binary form must reproduce the above copyright notice, this
    list of conditions and the following disclaimer in the documentation and/or other
    materials provided with the distribution.

    Neither the name of the Osmosoft Limited nor the names of its contributors may be
    used to endorse or promote products derived from this software without specific
    prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
    EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
    OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
    SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
    TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
    BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
    CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
    ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
    DAMAGE.
    -->
    <title>{{- config.title -}}</title>
    <!-- Added September 1st, 2018 to deal with NoScript being dicks and setting their own CSP. - VG -->
    <meta http-equiv="Content-Security-Policy" content="{{csp}}" />
    <style type="text/css" id="storyCSS"></style>
    {{ headers }}
    <script type="text/javascript">
    {{- js_setup -}}
    </script>
  </head>
  <body>
    <noscript>Nylon is a game engine written entirely in Javascript, so it may be a good idea to enable Javascript in your browser settings.</noscript>
  </body>
</html>
