#nylon-loading-screen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #666;
}
#nylon-loading-icon {
  height: 128px;
  width: 128px;
}
#nylon-loading-bar-outer {
  display: block;
  min-width: 500px;
  background: #6f8a9166;
  border: 3px solid #6f8a91ff;
  margin: 3px;
  border-radius: 6px;
}
#nylon-loading-bar-inner {
  background: #6f8a91ff;
  min-height: 5px;
}
#nylon-loading-text {
  color: white;
}
