<!DOCTYPE html>
<html>
    <head>
        <title>Dump JS Builtins</title>
        <script type="application/javascript">{{ JS }}</script>
    </head>
    <body>
        <textarea id='a' cols="30" rows="10"></textarea>
        <button id='b'>&#9112;</button>
    </body>
</html>
